################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/libraryborrowingsystem/.vs/libraryborrowingsystem/FileContentIndex/4033749a-ee4a-4cdc-8dcb-c21aa8f14118.vsidx
/libraryborrowingsystem/.vs/libraryborrowingsystem/FileContentIndex/b548bb42-054f-432c-8a7b-0432e5ada5cd.vsidx
/libraryborrowingsystem/.vs/libraryborrowingsystem/FileContentIndex/d24337b2-60f2-4945-a2d3-6bbdde6ad2b0.vsidx
/libraryborrowingsystem/.vs/libraryborrowingsystem/FileContentIndex/eeffd4a4-8e8a-45ab-8018-bae194ce923f.vsidx
/libraryborrowingsystem/.vs/libraryborrowingsystem/FileContentIndex/14a50bfc-461b-42e9-9df9-f65913928abc.vsidx
/libraryborrowingsystem/.vs/libraryborrowingsystem/FileContentIndex/67b850a6-fbaf-4dc8-8b0f-0af9e1f4c764.vsidx
/libraryborrowingsystem/.vs/libraryborrowingsystem/FileContentIndex/91c5cf9c-b801-414c-a6de-bd47258d2e51.vsidx
/libraryborrowingsystem/.vs/libraryborrowingsystem/FileContentIndex/f6695c52-a26b-4f86-bc26-331afc9eca83.vsidx
.vs/
.vs/
